:root{
    --port-color: #d096edd1;
}

.info-content h1{
    color: var(--port-color);
}

.info-box .span1{
    color: var(--port-color);
}

.social-content a{
    border: solid 1px var(--port-color);
}

.social-content a:hover{
    color: var(--port-color);
}